@using EasyCredit.Models.Identity
@model List<ApplicationUser>
@{
    ViewBag.Title = "Administration";
}
<h2>Show all users</h2>
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<div class="container">
    <hr />
    <div class="row" id="userList">
        <table class="table-striped ">
            <thead>
                <tr>
                    <th class="col-xs-2">First name</th>
                    <th class="col-xs-2">Surname</th>
                    <th class="col-xs-2">Second name</th>
                    <th class="col-xs-2">Email</th>
                    <th class="col-xs-2"></th>
                    <th class="col-xs-2"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var user in Model)
                    {
                        <tr>                            
                            <td class="col-xs-2 cap">@user.FirstName </td>
                            <td class="col-xs-2 cap">@user.Surname </td>
                            <td class="col-xs-2 cap">@user.SecondName </td>
                            <td class="col-xs-2 cap">@user.Email</td>
                           
                            @if (@user.LockoutEndDateUtc != null)
                            {
                            <td class="col-xs-2">
                                <a class="btn btn-success" href="/admin/unban/@user.Id">Unban</a>
                            </td>
                            }
                            else
                            {
                            <td class="col-xs-2">
                                <a class="btn btn-danger" href="/admin/ban/@user.Id">Ban</a>
                            </td>
                            }
                                
                            <td class="col-xs-2">
                                <a class="btn btn-default" href="/admin/ResetPassword/@user.Id">ResetPassword</a>
                            </td>                          
                        </tr>
                     }
                }
            </tbody>
        </table>
    </div><!--/row-->
    <div class="row">
        <hr>
    </div>
</div><!--/container-->
