@model IEnumerable<EasyCredit.Models.Request>

@{
    ViewBag.Title = "ShowRequests";
}

<h2>ShowRequests</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartDateOfRequest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusOfRequest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditPlan.NameOfPlan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditPlan.LimitDays)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDateOfRequest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusOfRequest)
            </td>
            <th>
                <a href="/CreditPlan/ShowPlan/@item.CreditPlan.Id">@item.CreditPlan.NameOfPlan</a>
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.CreditPlan.LimitDays)
            </th>
        </tr>
    }

</table>

